.section-title {
    font-size: 2rem;
    font-weight: bold;
}

.about-text-list {
    font-family: "Roboto", sans-serif;
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1rem;
    line-height: 2rem;
}

.about-image {
    width: 100%;
    max-width: 275px;
    border: 5px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-reverse {
    flex-direction: row-reverse;
}

.col-md-6 .about-text {
    text-align: justify;
}