@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bg .container {
    backdrop-filter: blur(4px);
}

.navbar .navbar-brand {
    font-size: 10px;
    color: #F63EAA;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.fly-icon {
    font-size: 2rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar .navbar-brand:hover .fly-icon {
    animation: flyAndFlip 0.6s forwards;
}

@keyframes flyAndFlip {
    0% {
        transform: translate(0, 0) rotate(0deg);

    }

    50% {
        transform: translate(30px, -30px) rotate(180deg);

    }

    100% {
        transform: translate(60px, -60px) rotate(360deg);

    }
}

.navbar .navbar-brand .fly-icon {
    animation: continueAnimation 1.5s ease-out forwards;
}

@keyframes continueAnimation {
    0% {
        transform: translate(60px, -60px) rotate(360deg);

    }

    50% {
        transform: translate(30px, -30px) rotate(180deg);

    }

    100% {
        transform: translate(0, 0) rotate(0deg);

    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(https://img.icons8.com/?size=192&id=Rdp3AydLFY2A&format=png);
}

/* Logo-css */
.navbar-brand .highlight {
    color: #ffaa50;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.navbar-brand .name {
    color: #000a47;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
}

ul .nav-link {
    text-align: center;
    display: inline-block;
    color: #aaa;
    padding: 13px;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

ul a:hover {

    color: #607D8B;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #192F57;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
}


.resume-btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    border: 0;
    color: #fff;
    background: #000a47;
    line-height: 1.15;
    font-size: 16px;
}

.resume-btn:hover {
    color: #fff;
    transition: all .2s ease-in-out;
    /* box-shadow: 0 0 0 0 #fb9e53, 0 0 0 3px #fb9e53; */
    background-color: #fb9e53;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

@media (max-width:400px) {
    .navbar-brand .highlight {
        font-size: 1rem;
    }

    .navbar .name {
        font-size: 1rem;
    }

    .navbar .navbar-brand {
        font-size: 1rem;
    }
}