@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

.btn {
    margin: 10px;
    padding: 7px 12px;
    border-radius: 2px !important;
    text-align: center;
}

.btn-custom {
    width: 120px;
}

.btn-group .btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-group .btn-custom.active {
    background-color: #000055;
    color: white;
}

.btn-group .btn-custom.active:hover {
    background-color: #000055;
}

/* Card-css */

.card {
    border: none;
    box-shadow: rgb(201, 197, 197) 0px 0px 4px 2px;
    overflow: hidden;
    border-radius: 20px;
}

.card-body .btn-link {
    border: 2px solid rgb(0, 136, 169);
    text-decoration: none;
    border-radius: 5px !important;
}

.card-body .btn-link:hover {
    border: 2px solid #000055;
    background-color: #000055;
    border-radius: 5px !important;
    color: white !important;
}



@media (max-width: 576px) {
    .btn-custom {
        font-size: 1rem;
        padding: 5px;
        max-width: 100px;
        margin-bottom: 1px;
    }

    .btn-group,
    .btn-group-vertical {
        display: block;
    }

    .card-body .btn-link {
        padding: 5px;
        font-size: 13px;
    }
}