@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


.app {
    background-color: #ffffff;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.app.dark-mode {
    background-color: #0B0E18;
    color: #ffffff;
}

.dark-mode-btn {
    position: fixed;
    bottom: 1rem;
    right: 5.2rem;
    z-index: 9999;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.dark-mode-btn:hover {
    background: #555;
}

/* Hero Section Dark Mode */
.app.dark-mode .hero-bg {
    background-color: #0B0E18 !important;
    color: #fdf8ed !important;
}

.app.app.dark-mode .hero-bg h3 {
    color: rgb(236, 250, 247);
}

/* Skills Section Dark Mode */
.app.dark-mode .skills-section {
    background-color: #0B0E18 !important;
    color: #ffffff !important;
}

/* Contact Section Dark Mode */
.app.dark-mode .contact-section {
    background-color: #0B0E18 !important;
    color: #ffffff !important;
}